<div class="end d-lg-flex container-fluid pb-3 pt-3">
    <div class="end-about mx-5">
      <p class="fs-4">ABOUT US</p>
      <div class="about-data">
        <p class="fs-6">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Soluta provident?</p>
        <p class="fs-6">Lorem ipsum, dolor sit amet consectetur, ex.<p>
          <button class="btn ms-5" type="button"><ion-icon name="logo-facebook"></ion-icon></button>
          <button class="btn" type="button"><ion-icon name="logo-twitter"></ion-icon></button>
          <button class="btn" type="button"><ion-icon name="logo-instagram"></ion-icon></button>
          <button class="btn" type="button"><ion-icon name="mail-outline"></ion-icon></button>
      </div>
    </div>
    <div class="end-contact mx-5">
      <p class="fs-4 mb-4">CONTACT US</p>
      <div class="mb-3">
        <ion-icon class="me-1" name="home-outline"></ion-icon><p class="list-inline-item fs-6">address</p>
      </div>
      <div class="mb-3">
        <ion-icon class="me-1" name="mail-outline"></ion-icon><p class="list-inline-item fs-6">email id</p>
      </div>
      <div class="mb-3">
        <ion-icon class="me-1" name="call-outline"></ion-icon><p class="list-inline-item fs-6">mobile no.</p>
      </div>
      <div class="mb-3">
        <ion-icon class="me-1" name="send-outline"></ion-icon><p class="list-inline-item fs-6">fax-id</p>
      </div>
    </div>
  </div>

  <footer class="text-center" style="background-color: rgb(46, 171, 255); color: aliceblue;">
        Copyright &copy; www.My_Web.com All rights reserved.
  </footer>
</body>
</html>