<%- include('./header.ejs') %>

    <script>
        deactiveLink();
        activeLink(0);
    </script>

    <div class="bg container-fluid">
    </div>

    <div class="about container-fluid my-4">
        <p class="fs-3 text-center mb-5">
            A place for both the recruiters and employees
        </p>
        <div class="container mb-5">
            <div class="about-image text-center">
                <img src="images/pic17.jpg" alt="image">
            </div>
            <div class="about-text">
                <p class="fs-5">
                    A way to get rid of all the interview waiting queues.
                </p>
            </div>
            <div class="about-text">
                <p class="fs-5">
                    Find new opportunities!
                </p>
            </div>
            <div class="about-image text-center">
                <img src="images/pic20.jpg" alt="">
            </div>
            <div class="about-image text-center">
                <img src="images/pic15.jpg" alt="">
            </div>
            <div class="about-text">
                <p class="fs-5">
                    Find the environment that suits you.
                </p>
            </div>
        </div>
    </div>

    <div class="back"></div>

<%- include('./footer.ejs') %>