<%- include('./header.ejs') %>

    <script>
        deactiveLink();
        activeLink(0);
        activeLink(4);
    </script>

    <div class="bg container-fluid">
    </div>

    <div class="about container-fluid my-4">
        <p class="fs-3 text-center mb-5">
            A Place For Both The Recruiters And Employees
        </p>
        <div class="container mb-5">
            <div class="about-image text-center">
                <img src="images/pic17.jpg" alt="image">
            </div>
            <div class="about-text">
                <p class="fs-5">
                    A Way To Get Rid Of All The Interview Waiting Queues.
                </p>
            </div>
            <div class="about-text">
                <p class="fs-5">
                    Find New Opportunities!
                </p>
            </div>
            <div class="about-image text-center">
                <img src="images/pic20.jpg" alt="">
            </div>
            <div class="about-image text-center">
                <img src="images/pic15.jpg" alt="">
            </div>
            <div class="about-text">
                <p class="fs-5">
                    Find The Environment That Suits You.
                </p>
            </div>
        </div>
    </div>

    <div class="back"></div>

<%- include('./footer.ejs') %>