<%- include('./header.ejs') %>

  <script>
    deactiveLink();
    activeLink(1);
  </script>

  <div class="container my-5" id="jobs">
    <div class="buttons text-center">
      <button type="button" class="btn me-5"
        style="border: 0.1em solid rgb(0, 64, 107); color: rgb(0, 64, 107);">All</button>
      <button type="button" class="btn me-5"
        style="border: 0.1em solid rgb(0, 64, 107); color: rgb(0, 64, 107);">Applied</button>
      <button type="button" class="btn me-5"
        style="border: 0.1em solid rgb(0, 64, 107); color: rgb(0, 64, 107);">Available</button>
    </div>

    <div class="cards">
      <% d.forEach((item)=> { %>

        <div class="card text-center my-5">
          <div class="card-header fs-4" style="background-color: rgba(0, 111, 185, 0.5);">
            <%= item.jobname %>
          </div>
          <div class="card-body">
            <h5 class="card-title">Company name</h5>
            <p class="card-text">
              <%= item.description %>
            </p>
            <p class="card-text">Posted by</p>
            <a href="#" class="btn" style="background-color: rgb(0, 64, 107); color: white;">Apply</a>
            <a href="#" class="btn" style="background-color: rgb(0, 64, 107); color: white;">Check Details</a>
          </div>
          <div class="card-footer text-body-secondary"
            style="background-color: rgba(0, 111, 185, 0.5); font-weight: 500;">
            2 days ago
          </div>
        </div>
        <% }) %>
    </div>
  </div>

  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>

  <%- include('./footer.ejs') %>