<%- include('./header.ejs') %>

<script>
  deactiveLink();
  activeLink(1);
</script>

    <div class="container my-5" id="jobs">
        <div class="buttons text-center">
            <button type="button" class="btn me-5" style="border: 0.1em solid rgb(0, 64, 107); color: rgb(0, 64, 107);">Availabile</button>
            <button type="button" class="btn me-5" style="border: 0.1em solid rgb(0, 64, 107); color: rgb(0, 64, 107);">Applied</button>
            <button type="button" class="btn me-5" style="border: 0.1em solid rgb(0, 64, 107); color: rgb(0, 64, 107);">Announced</button>
            <button type="button" class="btn me-5" style="border: 0.1em solid rgb(0, 64, 107); color: rgb(0, 64, 107);">Recent</button>
        </div>

        <div class="card text-center my-5">
            <div class="card-header fs-4" style="background-color: rgba(0, 111, 185, 0.5);">
              Job Name
            </div>
            <div class="card-body">
              <h5 class="card-title">Company name</h5>
              <p class="card-text">details</p>
              <p class="card-text">Posted by</p>
              <a href="#" class="btn me-5" style="background-color: rgb(0, 64, 107); color: white;">Apply</a>
              <a href="#" class="btn" style="background-color: rgb(0, 64, 107); color: white;">Check Details</a>
            </div>
            <div class="card-footer text-body-secondary" style="background-color: rgba(0, 111, 185, 0.5); font-weight: 500;">
              Availability
            </div>
          </div>     
    </div>

<%- include('./footer.ejs') %>