<%- include('./header.ejs') %>

<script>
  deactiveLink();
  activeLink(2);
</script>

  <div id="my_account" class="container-fluid mt-5">
    <table class="container table my-5">
      <tbody> 
        <tr class="text-center">
          <td class="py-3">Name : </td>
          <td class="py-3">name</td>
        </tr>
        <tr class="text-center">
          <td class="py-3">Email : </td>
          <td class="py-3">email</td>
        </tr>
        <tr class="text-center">
          <td class="py-3">Mobile No.:</td>
          <td class="py-3">number</td>
        </tr>
        <tr class="text-center">
          <td class="py-3">Birthdate : </td>
          <td class="py-3">birthdate</td>
        </tr>
        <tr class="text-center">
          <td class="py-3">Education Qulification : </td>
          <td class="py-3">qulification</td>
        </tr>
        <tr class="text-center">
          <td class="py-3">Resume File : </td>
          <td class="py-3">file</td>
        </tr>
      </tbody>
    </table>
    <div class="buttons text-center mb-5">
      <button type="button" class="btn me-5">Change</button>
      <button type="button" class="btn me-5">Announce Job</button>
      <button type="button" class="btn me-5">Logout</button>
      <button type="button" class="btn me-5">Delete My Account</button>
    </div>
  </div>

<%- include('./footer.ejs') %>