::-webkit-scrollbar {
    display: none;
}

body{
    background-color: var(--bg);
}

.navbar {
    background-color: rgb(46, 171, 255);
}

.navbar .navbar-brand img{
    height: 2.3em;
}

.navbar .nav-name{
    left: 20em;
}

.navbar .nav-profile img{
    height: 3em;
    width: 3em;
    border-radius: 50%;
    border: 0.1em solid black;
}

.bg {
    top: 1em;
    height: 38em;
    width: 100%;
    background: url('../images/pic2.jpg') no-repeat center;
    background-size: cover;
    filter: invert(0.15);
}

.about .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em;
}

.about-image img {
    height: 15em;
    width: 15em;
    border-radius: 50%;
}

.about-text {
    display: flex;
    justify-content: center;
    align-items: center;
}

.login {
    display: none;
}

.job_add ion-icon:hover{
    transform: rotateZ(180deg) scale(1.2);
    transition: 0.5s all ease-out 0s;
}
.back ion-icon:hover{
    transform: scale(1.2);
    transition: 0.5s all ease-out 0s;
}

.card:nth-child(4n+1){
    background: url('../images/pic29.jpg') no-repeat center center;
    background-size: cover;
    border: 0.1em solid rgb(0, 114, 190);
    border-radius: 1em;
}
.card:nth-child(4n+2){
    background: url('../images/pic27.jpg') no-repeat center center;
    background-size: cover;
    border: 0.1em solid rgb(0, 114, 190);
    border-radius: 1em;
}
.card:nth-child(4n+3){
    background: url('../images/pic26.jpg') no-repeat center center;
    background-size: cover;
    border: 0.1em solid rgb(0, 114, 190);
    border-radius: 1em;
}
.card:nth-child(4n+0){
    background: url('../images/pic28.jpg') no-repeat center center;
    background-size: cover;
    border: 0.1em solid rgb(0, 114, 190);
    border-radius: 1em;
}
.card{
    overflow: hidden;
    border-radius: 2em;
}

.card .card-header, .card .card-footer{
    background-color: rgba(0, 114, 190, 0.8);
    color: white;
}

.card .card-body{
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(0.2em);
    color: beige;
}

.card:hover{
    transform-style: preserve-3d;
    perspective: 1em;
    transform: scale(1.02);
    transition: 0.5s all ease-out 0s;
}

.card .btn{
    background-color: rgba(0, 114, 190, 0.8);
    border: 0.1em solid rgb(0, 114, 190);
    color: white;
}

.card .btn:hover{
    background-color: rgba(0, 114, 190, 0.2);
    border: 0.1em solid rgb(0, 114, 190);
    color: black;
}

#my_account table img{
    border-radius: 50%;
    height: 10em;
    width: 10em;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#my_account .buttons .btn.edit{
    border: 0.1em solid rgb(0, 202, 0);
    color: rgb(0, 202, 0);
}
#my_account .buttons .btn.delete{
    border: 0.1em solid rgb(255, 0, 0);
    color: rgb(255, 0, 0);
}

#my_account .buttons .btn.edit:hover{
    background-color: rgba(0, 202, 0, 0.2);
    border: 0.1em solid rgb(0, 202, 0);
    color: rgb(0, 202, 0);
}
#my_account .buttons .btn.delete:hover{
    background-color: rgba(255, 0, 0, 0.2);
    border: 0.1em solid rgb(255, 0, 0);
    color: rgb(255, 0, 0);
}

.end {
    background-color: rgb(0, 114, 190);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: black;
}

.end-about {
    width: 50%;
    margin-right: 3em;
}

.end-about .btn {
    height: 100%;
}

.end-about .btn ion-icon {
    font-size: 1.5em;
    color: black;
}

.end-contact {
    width: 50%;
    margin-right: 3em;
}

footer{
    background-color: rgb(46, 171, 255);
     color: black;
}

.modal .modal-header{
    background-color: rgba(0, 114, 190, 0.8);
    color: white;
    z-index: 2;
}
.modal .modal-body{
    background-color: rgba(46, 171, 255, 0.3);
    z-index: 2;
    backdrop-filter: blur(0.5em);
    border-bottom-left-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
}


.modal#addjob form:invalid{
    border: 0.1em solid red;
}
